.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.container > a, .container > a:active, .container > a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #6686a3;
}